# Database connection
DATABASE_URL=postgresql://<@@>dbUsername</@@>:<@@>dbPassword</@@>@<@@>dbHost</@@>:<@@>dbPort</@@>/<@@>dbName</@@>

# Individual connection components (used by some ORMs)
DB_HOST=<@@>dbHost</@@>
DB_PORT=<@@>dbPort</@@>
DB_USERNAME=<@@>dbUsername</@@>
DB_PASSWORD=<@@>dbPassword</@@>
DB_NAME=<@@>dbName</@@>
